## .NET / Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Bb]uild/
bld/

# Visual Studio
.vs/
*.rsuser
*.cache
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_i.c
*_p.c
*_h.h
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
*.snupkg
**/[Pp]ackages/repositories.config
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/
*.sln.iml

# Environment files
.env
*.env

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Publish output
*.publish.xml
